html {
    scroll-behavior: smooth;
  }
  
body {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: black;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
display: flex;
justify-content: space-around;
align-items: center;
top: 0;
left: 0;
width: 100%;
z-index: 10;
}

.header___container {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    padding: 0px 5px;
    align-items: center;
    justify-content: space-between;
    min-height: 20px;
    background-color: white;
}


.header_logo {
position:center;
z-index: 5;
width: 40px;
height: 40px;
}

.menu_icon {
    position:center;
    z-index: 5;
    width: 40px;
    height: 40px; 
}

.menu_list {
    width: 860px;
    justify-content: space-around;
    
}


.menu_list > li {
    position: relative;
    margin: 0px 0px 0px 10px;
    list-style-type: none;
}

.menu_link {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.menu_link:hover {
    text-decoration: underline;
}




@media (min-width:767px) {
    .menu_list {
        display:flex;
        align-items: center;
    }
    .menu_list > li {
        padding: 10px 0; 
    }
}



.cv {
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}
.cv__photo {
    background-color : #292f31;
    color: white;
    overflow: hidden;
}
.title__info {
    float: left;
	width: 60%;
}

.cv__photo img {
width: 40%;
height: 40%;
overflow: hidden;
margin-bottom: -10px;
background: center no-repeat;
}

.title__info h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.title__info h2 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 35px;
}
.title__info h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 2px; 
    background-color: #373c3e;
    width: fit-content;
    margin-left: 35px;
    margin-top: 40px;


}
.links ul {
    margin: 20px;
    padding: 4px;
    height: 50px;
    margin-top: 100px;
}
.links li{
display: inline;
padding: 3px;
}

.links img {
    height: 90%;
    width: auto;
}
.skills h3 {
    margin: 0px;
}

.container {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 40px;
}
.skills {
    float: left;
	width: 50%; 
}
.experience li {
    list-style-type: none;
}
.code_example {
background-color:#e6e8ea;
padding: 10px;
}

.english h3 {
margin-bottom: 5px;
}
.english p {
    margin-top: 0px;
    }


.footer {
    box-sizing: border-box;
    width: 100%;
    margin-top: 80px;
    }
}

.footer a {
    font-size: 16px;
    color: black;
}

.footer img {
    width: 80px;
}
.footer p {
    float: right;
    }
