body {
    font-family: 'Poppins', Helvetica, sans-serif;
    color: black;
    margin: 0;
	padding: 0;
}
.cv {
    max-width: 900px;
    margin: 0 auto;
}
.title__info {
    background: #292f31;
    color: white;
}
